*db.py
*.pyc
.idea
*.ipynb_checkpoints
*.ipynb
*.txt
rivmreport.html
stichtingnice.html
*.xml
nederland/rivm_graphs.json
nederland/map_data
brazil/map_data
env
brazil/downloads
brazil/*.xlsx
brazil/*.csv